<!-- src/views/login.ejs -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login - Semana Acadêmica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="login-box">
        <h2>🔑 Acesse sua conta</h2>

        <% if (typeof error !=='undefined' ) { %>
            <div id="erro">
                <%= error %>
            </div>
            <% } %>

                <form action="/auth/login" method="POST">
                    <div class="form-group">
                        <label for="username">Usuário:</label>
                        <input id="username" type="text" name="username" required placeholder="Digite seu usuário"
                            value="fabricio.bizotto">
                    </div>

                    <div class="form-group">
                        <label for="password">Senha:</label>
                        <input id="password" type="password" name="password" required placeholder="Digite sua senha"
                            value="admin123">
                    </div>

                    <button type="submit" class="btn-primary">Entrar</button>
                </form>
    </div>
</body>

</html>